#content {
    background-color: #ccddff;
    background: rgba(204, 220, 254, 0.5);
}

.starter-template {
    background-color: #ccddff;
    background: rgba(204, 220, 254, 0.5);
    height: 1000px;
}
