body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
  background-color: #ccddff;
  background: rgba(204, 220, 254, 0.8);

}

/* article {
  padding-top: 100px;
  background-color: #ccddff;
  background: rgba(204, 220, 254, 0.5);
  height: 600px;
} */

body {
  background-image: url("../../images/large/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

footer {
  bottom: 0;
  width: 100%
  text-align: center;
}

aside {
  float: right;
}
