body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

article {
  background-color: #ccddff;
}

.site-footer {
  position: fixed;
  bottom: 0;
  width: 100%
}

aside {
  float: right;
}
