body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

.container {
  background-color: #6a95fb;
}

.site-footer {
  position: fixed;
  bottom: 0;
  width: 100%
}
